// Yellow
@sun-flower:	#f1c40f;
@orange:		#f39c12;

// Coklat
@carrot:		#e67e22;
@pumpkin:		#d35400;

// Abu2
@clouds:		#ecf0f1;
@silver:		#bdc3c7;

// Merah
@alizarin:		#e74c3c;
@pomegranate:	#c0392b;
@red:			#ed1651;

// biru 
@belize-hole: 	#2980b9;

@black:			#000;
@light-black:	#555;