// Footer section
footer.fluid-container
	.container
		.row
			.col-sm-12
case env
	when 'development'
	when 'dev'
		script(src="js/core.js")
	when 'production'
		script(src="js/core.min.js")
	default
		script(src="js/core.js")