include _include/_config.jade
include mixin/product.jade

doctype html
html.no-js(lang="en")
	include _include/_header.jade
	body
		//- include _include/_navigation.jade

		//- Kode content mulai dari sini
		.container
			.row
				.col-sm-3
				.col-sm-9
					+product_filter()

					+products(3)
					+products(3)
					+products(3)
					+products(3)
					
					+product_filter()
					
		//- Kode content mulai berakhir sini

		include _include/_footer.jade