include _include/_config.jade
include mixin/product.jade

doctype html
html.no-js(lang="en")
	include _include/_header.jade
	body
		include _include/_navigation.jade

		//- Kode content mulai dari sini
		.container-fluid.home-slider
			.row
				.carousel.slide#slider(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#slider", data-slide-to="0")
						li(data-target="#slider", data-slide-to="1")
						li(data-target="#slider", data-slide-to="2")
					.carousel-inner(role="listbox")
						.item.active
							img(src="img/product.jpg", alt="Product")
							.carousel-caption ...
						.item
							img(src="img/product.jpg", alt="Product")
							.carousel-caption ...
						.item
							img(src="img/product.jpg", alt="Product")
							.carousel-caption ...
					a.left.carousel-control(href="#slider", role="button", data-slide="prev")
						span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
						span.sr-only
					a.right.carousel-control(href="#slider", role="button", data-slide="next")
						span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
						span.sr-only
		.container
			.row.product-list
				.col-sm-12
					.row.product-list--title
						h3 New products
					+products(4)
					+products(4)
			.row
			.row.product-list
				.col-sm-12
					.row.product-list--title
						h3 Bestsellers products
					+products(4)
					
			.row.product-list
				.col-sm-12
					.row.product-list--title
						h3 Featured products
					+products(4)

			.row
		//- Kode content mulai berakhir sini

		include _include/_footer.jade