include _include/_config.jade

doctype html
html.no-js(lang="en")
	include _include/_header.jade
	body
		//- include _include/_navigation.jade

		//- Kode content mulai dari sini
		.container
			.row.breadcrumb
				.col-sm-12
					.row
						h1 Advanced Search
			.row.search-filter
				.col-sm-12
					.row
						p dfd
					.row
						.col-sm-3
							span a
						.col-sm-3
							span a

						.col-sm-3
							span a

						.col-sm-3
							span a
							

			.row.product-list
				.col-sm-12
					

				
			
		//- Kode content mulai berakhir sini

		include _include/_footer.jade